/* .auth_post_list_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #9E9E9E;
    margin: 20px;
    margin-bottom: 10px;
} */


  .auth_post_item {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; 
    border: 1px solid blue;
  }

  .auth_post_item img {
    max-width: 100%;
    height: auto;
  }