.post_detail_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.post_detail_title {
  font-weight: bold;
  font-size: 18px;
}

.post_detail_content {
  color: #2B2B2B;
  margin: 10px 0;
  width: 100%;
  height: 32px;
  padding: 20px;
}
.comment_content{
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.comment_input {
  justify-content: space-between;
  border: 1px solid #8DC693;
  border-radius: 10px;
  width: 80%;
  padding: 15px;
  margin: 10px;
}
.comment_button {
  display: inline-flex;
  height: 30px;
  padding: 23px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  font-weight: bold;
  background-color: #8DC693;
  border: none;
  color: white;
  margin-right: 20px;
}