* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

.header_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  flex: 0 0 310px;
}

.logo_image {
  max-width: 200px;
}

.search {
  flex: 0 0 620px;
}

.user {
  display: flex;
  flex: 0 0 200px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.pencil {
  flex: 1 1 70;
}

.login {
  flex: 1 1 70;
}

.disabled {
  opacity: 0; 
  pointer-events: none;
  cursor: not-allowed;
}
.black {
  color: 43 43 43;
  flex: 1 0 auto;
}

.white {
  color: white;
}