* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

.header_bar {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  flex: 1 1 260px;
  padding: 0px 105px 0px 0px;
}

.logo_img {
  max-width: 260px;
}

.disabled {
  opacity: 0; 
  pointer-events: none;
  cursor: not-allowed;
}

.serarch {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex: 1 1 500px;
}

.w70 {
  max-width: 70px;
}

.user {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: right;
  gap: 30px;
  color: 43 43 43;
}
/* 
.black {

  flex: 1 0 auto;
} */
