* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  gap: 10px;
}

li {
  list-style: none;
}

button {
  background-color: white;
  border: 1px solid #8DC693;
  color: #2B2B2B;
  cursor: pointer;
}

/* 활성 버튼 스타일 */
button.active {
  background-color: #8DC693;
  color: white;
}
