.post_list_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.post_item {
    width: 80%;
    margin: 30px 30px 10px 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}


.post_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.post_title {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #2B2B2B;
}

.post_content {
    color: #2B2B2B;
    margin: 10px 0;
    width: 100%;
    height: 32px;
}

.post_date {
    text-align: right;
    margin-top: 10px;
    color: #2B2B2B;
    font-size: 14px;
}
